In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("AB_NYC_2019.csv")

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
df = df[['neighbourhood_group','room_type','latitude','longitude','price','minimum_nights','number_of_reviews','reviews_per_month','calculated_host_listings_count','availability_365']]

In [5]:
df.isnull().sum()

neighbourhood_group                   0
room_type                             0
latitude                              0
longitude                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [8]:
df = df.fillna(0)

In [9]:
df.isnull().sum()

neighbourhood_group               0
room_type                         0
latitude                          0
longitude                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

## Question 1

In [10]:
df.neighbourhood_group.value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [18]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [19]:
len(df_train), len(df_val), len(df_test)

(29337, 9779, 9779)

In [20]:
# y_train = df_train.price.values
# y_val = df_val.price.values
# y_test = df_test.price.values

# del df_train['price']
# del df_val['price']
# del df_test['price']

## Question 2

In [21]:
df_train.corr()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
latitude,1.000000,0.080301,0.035428,0.027441,-0.006246,-0.007159,0.019375,-0.005891
longitude,0.080301,1.000000,-0.146318,-0.060660,0.055084,0.134642,-0.117041,0.083666
price,0.035428,-0.146318,1.000000,0.046668,-0.048225,-0.052908,0.053746,0.080121
minimum_nights,0.027441,-0.060660,0.046668,1.000000,-0.076020,-0.120703,0.118647,0.138901
number_of_reviews,-0.006246,0.055084,-0.048225,-0.076020,1.000000,0.590374,-0.073167,0.174477
reviews_per_month,-0.007159,0.134642,-0.052908,-0.120703,0.590374,1.000000,-0.048767,0.165376
calculated_host_listings_count,0.019375,-0.117041,0.053746,0.118647,-0.073167,-0.048767,1.000000,0.225913
availability_365,-0.005891,0.083666,0.080121,0.138901,0.174477,0.165376,0.225913,1.000000

In [24]:
df_train.dtypes

neighbourhood_group                object
room_type                          object
latitude                          float64
longitude                         float64
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [38]:
df_train['above_average'] = [1 if x >= 152 else 0 for x in df_train['price']]
df_val['above_average'] = [1 if x >= 152 else 0 for x in df_val['price']]

<ipython-input-38-d017098fe96b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['above_average'] = [1 if x >= 152 else 0 for x in df_train['price']]
<ipython-input-38-d017098fe96b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_val['above_average'] = [1 if x >= 152 else 0 for x in df_val['price']]

In [39]:
df_train.head()

,neighbourhood_group,room_type,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,above_average
13575,Brooklyn,Entire home/apt,40.72760,-73.94495,99,3,29,0.70,13,50,0
48476,Manhattan,Private room,40.70847,-74.00498,57,1,0,0.00,1,7,0
44499,Bronx,Entire home/apt,40.83149,-73.92766,70,40,0,0.00,1,0,0
17382,Brooklyn,Entire home/apt,40.66448,-73.99407,130,2,3,0.08,1,0,0
14638,Manhattan,Private room,40.74118,-74.00012,110,1,48,1.80,2,67,0

## Question 3

In [40]:
from sklearn.metrics import mutual_info_score

In [41]:
round(mutual_info_score(df_train.above_average, df_train.neighbourhood_group), 2)

0.05

In [42]:
round(mutual_info_score(df_train.above_average, df_train.room_type), 2)

0.14

In [46]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values
# y_test = df_test.above_average.values

del df_train['price']
del df_val['price']
# del df_test['price']

In [47]:
del df_train['above_average']
del df_val['above_average']

In [48]:
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer(sparse=False)

train_dict = df_train.to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

In [55]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42,max_iter=1000000)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000000, random_state=42)

In [62]:
y_pred = model.predict_proba(X_val)

In [63]:
y_pred

array([[0.97130857, 0.02869143],
       [0.40482065, 0.59517935],
       [0.57402731, 0.42597269],
       ...,
       [0.88514314, 0.11485686],
       [0.96546421, 0.03453579],
       [0.47362545, 0.52637455]])

In [64]:
y_pred = y_pred[:, 1]

In [65]:
above_average_decision = (y_pred >= 0.5)

In [69]:
acc_all = (y_val == above_average_decision).mean()

## Question 4

In [70]:
acc_all

0.790878412925657

In [68]:
df_train.dtypes

neighbourhood_group                object
room_type                          object
latitude                          float64
longitude                         float64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

## Question 5

In [73]:
for column in df_train.columns:
    print(column)
    df_train_1 = df_train.copy()
    del df_train_1[column]
    df_val_1 = df_val.copy()
    del df_val_1[column]
    
    dv = DictVectorizer(sparse=False)
    train_dict = df_train_1.to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)
    val_dict = df_val_1.to_dict(orient='records')
    X_val = dv.transform(val_dict)
    
    model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42,max_iter=1000000)
    model.fit(X_train, y_train)
    
    y_pred = model.predict_proba(X_val)
    y_pred = y_pred[:, 1]
    above_average_decision = (y_pred >= 0.5)
    acc =  (y_val == above_average_decision).mean()
    print(abs(acc - acc_all))

neighbourhood_group
0.039881378464055595
room_type
0.0619695265364556
latitude
0.003885877901625867
longitude
0.003885877901625867
minimum_nights
0.00030677983433891054
number_of_reviews
0.0004090397791185474
reviews_per_month
0.00030677983433891054
calculated_host_listings_count
0.0012271193373555311
availability_365
0.009407914919725924

In [79]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [80]:
len(df_train), len(df_val), len(df_test)

(29337, 9779, 9779)

In [81]:
y_train = np.log1p(df_train.price.values)
y_val = np.log1p(df_val.price.values)
y_test = np.log1p(df_test.price.values)

del df_train['price']
del df_val['price']
del df_test['price']

In [85]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [83]:
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer(sparse=False)

train_dict = df_train.to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

In [92]:
answer = {}
for i in [0, 0.01, 0.1, 1, 10]:
    model = Ridge(alpha=i)
    model.fit(X_train, y_train)
    y_predict = model.predict(X_val)
    answer[i] = round(mean_squared_error(y_val, y_predict, squared=False), 3)

## Question 6

In [93]:
answer

{0: 0.497, 0.01: 0.497, 0.1: 0.497, 1: 0.497, 10: 0.498}